{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_util %}
{% load smart_if %}
{# this is the Payworld confirm template #}

{% block payment_step %}<a href="{% url SATCHMO_PAYMENT_PAYWORLD_satchmo_checkout-step2 %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not PAYMENT_LIVE %}<b>PAYMENT TEST MODE</b><br/>{% endif %}
{% trans "Your payment will be processed through PayWorld." %}
{% endblock %}

{% block payment_form %}
{% if order.paid_in_full %}
<form action="{% url SATCHMO_PAYMENT_PAYWORLD_satchmo_checkout_free-confirm %}">
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% else %}
<form action="{{ post_url }}" method="post">{% csrf_token %}
    <input type="hidden" name="order_id" value="{{ order_id }}" />
    <input type="hidden" name="order_total" value="{{ order_total }}" />
    <input type="hidden" name="order_details" value="{{ order_details }}" />
    <input type="hidden" name="seller_name" value="{{ business }}" />
    <input type="hidden" name="shop_id" value="{{ store_id }}" />
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% endif %}
{% endblock %}
