{% extends "shop/checkout/success.html" %}
{% load i18n %}
{% load satchmo_order %}

{% block content %}
<div id="ordersuccess">
<h4>{% trans "An error occurred while processing payment!" %}</h4>

{#<p>{% trans 'Please print out this page as a receipt.  You will also receive an email with this information.' %}</p>#}

<p>{% trans 'PayWorld message:' %} {{ result_message }}</p>

{% order_tracking_details order %}
</div>
{% endblock %}

